<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>gestion de panier</title>
</head>

<body>

    <main id="app">
        <section class="items">

            <h4>Choisissez vos produits</h4>
            <!-- Afficher les produits -->
            <div class="product" v-for="item in products"
                v-on:click="selectItem(item)"
                v-bind:class="item.isSelected ? 'selected' : ' '">
                <div class="photo">
                    <img :src="item.image" alt="Product Image">
                </div>
                <div class="description">
                    <span class="name">{{item.nom}}</span>
                    <span class="price">{{item.prix}}</span>
                    <div v-if="item.isSelected" class="quantity-area">
                        <button
                            v-on:click.stop="item.quantity--; item.isSelected = item.quantity > 0 ? true : false">-</button>
                        <span v-if="item.quantity !== 0" class="quantity">{{item.quantity}}</span>
                        <button v-on:click.stop="item.quantity++">+</button>
                    </div>
                </div>
            </div>

        </section>
        <!-- afficher la section qui affiche la liste des produits au panier -->
        <section class="summary">
            <strong>Panier</strong>
            <table>
                <thead>
                    <tr>
                        <th>Produits</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Afficher tous les produits actifs -->
                    <tr v-for="item in products">
                        <td v-if="item.quantity > 0">{{item.quantity}} x {{item.nom}}</td>
                        <td v-if="item.quantity > 0">{{item.quantity*item.prix}}</td>
                    </tr>

                    <tr>
                        <th>Total</th>
                        <th>{{refreshTotal()}}</th>
                    </tr>
                </tbody>
            </table>
        </section>

    </main>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script src="script.js"></script>
</body>

</html>